<web-app>
    <display-name>weraise</display-name>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.main</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addcampagins</servlet-name>
        <servlet-class>database.Campaigns</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addcampagins</servlet-name>
        <url-pattern>/addcampaigns</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addUsers</servlet-name>
        <servlet-class>security.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUsers</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addcomment</servlet-name>
        <servlet-class>database.Comment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addcomment</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>security.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>authenticate</servlet-name>
        <servlet-class>security.Authentication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authenticate</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>posts</servlet-name>
        <servlet-class>database.Posts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>posts</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>database.GetCampaign</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/h</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>database.Dashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>database.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>donate</servlet-name>
        <servlet-class>database.Donate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>donate</servlet-name>
        <url-pattern>/donate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>database.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>